body {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 0.7em;
    color: #0e1c2c;
}

table {
    border: 1px solid #3465a4 !important;
}

table * {
    vertical-align: top;
    text-align: left;
}

tr.package {
    cursor: pointer;
}

th {
    background-color: #729fcf;
    padding: 3px 6px;
    margin-bottom: 1em;
    font-size: 1.25em;
}

td {
    padding: 3px 3em 3px 6px;
}

tr.odd {
    background-color: #e5edf6;
}

/* Sorting */

th.header {
    cursor: pointer;
}

th.headerSortUp {
    background-color: #3465a4;
    color: #fff;
}

th.headerSortUp:after {
    content: ' \25B4';
}

th.headerSortDown {
    background-color: #3465a4;
    color: #fff;
}

th.headerSortDown:after {
    content: ' \25BE';
}

/* Collapsing */

.collapsible {
    margin: 0 !important;
    padding: 0 !important;
}

.collapsible {
    background-color: #3465a4;
}

.collapsible a {
    display: block;
    outline: 0;
    color: #bfd3e9;
    text-decoration: none;
    padding: 0 3px;
    font-size: 1.5em;
}

.collapsible a.collapsed:after {
    content: '\25B8';
}

.collapsible a.expanded:after {
    content: '\25BE';
}
