body {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 0.7em;
    color: #0e1c2c;
}

code {
    font-family: "DejaVu Sans Mono", monospace;
}

a {
    color: #132c50;
    text-decoration: none;
}

a:hover {
    color: #729fcf;
}

/* Grid */

table.grid {
    border: 1px solid #3465a4 !important;
    margin: 0;
    padding: 0;
}

table.grid * {
    vertical-align: top;
    text-align: left;
}

table.grid > thead {
    background-color: #729fcf;
    margin-bottom: 1em;
    font-size: 1.25em;
}

table.grid > thead > tr > * {
    padding: 3px 6px;
}

table.grid > tbody > tr > td {
    padding: 3px 3em 3px 6px;
}

table.grid > tbody > tr.odd {
    background-color: #e5edf6;
}

/* Sorting */

table.grid th.header {
    cursor: pointer;
}

table.grid th.headerSortUp {
    background-color: #3465a4;
    color: #fff;
}

table.grid th.headerSortUp:after {
    content: ' \25B4';
}

table.grid th.headerSortDown {
    background-color: #3465a4;
    color: #fff;
}

table.grid th.headerSortDown:after {
    content: ' \25BE';
}

/* Grid Collapsing */

.collapsible {
    cursor: pointer;
}

table.grid td.collapse-column {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #3465a4;
}

table.grid td.collapsible a {
    display: block;
    outline: 0;
    color: #bfd3e9;
    text-decoration: none;
    padding: 0 3px;
    font-size: 1.5em;
}

table.grid .collapsible a.collapsed:after {
    content: '\25B8';
}

table.grid .collapsible a.expanded:after {
    content: '\25BE';
}

.warning {
    background-color: #f35656 !important;
}

/* Details Table */

table.details {
    margin: 1em 1em 2em 2em;
    padding: 0;
    font-size: 0.85em;
}

table.details td,
table.details th {
    padding-right: 2em;
}

div.request-details {
    display: block;
    padding: 0.5em 1em 2em 0;
    max-width: 40em;
    font-style: italic;
}

div.request-details a {
    color: #3465a4;
    font-weight: bold;
}

div.request-details a:hover {
    color: #729fcf;
}

/* Lists */

table.grid ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

table.grid ul li {
    margin: 0;
    padding: 0;
}
